@font-face {
    font-family: DroidKufi;
    src: url(DroidKufi.ttf);
}
*{
	font-family:DroidKufi;
    
}
body{
    margin-top: 50px; 
}
.navbar{
    background-color: black;
}
.menu > li > a{
    color: white;
}
.menu > li > a:hover{
    background-color: chocolate;
}
.menu > li > a:focus{
    background-color: chocolate;
}
.show-link{
    margin: 0;
}

.form-control{
    margin: 10px;
}
/*  --   show table */
.show-btn{
    margin: 0;
}
.navbar-nav > li > .dropdown-menu{
    background-color: chocolate;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: white;
    background-color: black;
}
.dropdown-menu > li > a{
    color: white;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    color: white;
    background-color: black;
}

#header{
    background-color: black;
}

/*--- Title  -*/
.title{
    background-color: brown;
    padding: 10px 0;
}
/*-- description --*/
.desc{
    background-color: wheat;
    padding: 50px 0;
}
.desc > h1{
    color: brown;
}

/*-- sample icons --*/
.sample{
    background-color: darkslategrey;
    padding: 60px 0;
}
.sample-search{
    
}
.sample-search > span {
    font-size: 100px;
    color: white;
}
.sample-search > h1 {
    color: white;
}
.sample-icon{
}

/*-- uni  --*/
.uni{
    background-color: white;
    padding: 60px 0;
}


/*-- footer --*/ 
.footer{
    height: 150px;
    background-color: black;
    padding: 20px 0 ;   
    color: white
}
